.c-vid-container figcaption {
  margin-top: 1.5em;
  text-align: center;
}

.c-vid {
  position: relative;
  display: grid;
  grid-template-rows: auto 6px 2.8125rem;
  margin-inline: auto;
  color: #fff;
  box-sizing: border-box;
  padding: 0.625rem;

  @media screen and (display-mode: fullscreen) {
    display: grid;
    height: 100vh;
    grid-template-rows: calc(100vh - 6px - 3rem) 6px 3rem;

    & > * {
      width: 100%;
    }
  }
}

.c-vid video {
  outline: none;
  height: 100%;
  width: 100%;
}

.c-vid-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.1rem 0.2rem;
  height: 100%;
  background-color: var(--clr-complementary-900);
}

.c-vid-controls button {
  display: grid;
  place-items: center;
  // padding: 0.2em;
  height: 100%;
  width: auto;
  font-size: 1.5rem;
  color: #fff;
  border: 0.125rem solid transparent;
  background-color: transparent;
  border-radius: 3.2px;
  cursor: pointer;
  border-radius: 0.5em;
  aspect-ratio: 1;
}

.c-vid-controls button:focus {
  --outline-offset: -4px;
}

.c-vid-controls-text {
  margin: 0;
}

.c-vid-controls-text {
  width: 100%;
  font-variant-numeric: tabular-nums;
}

.progress {
  display: flex;
  flex-basis: 100%;
  height: 6px;
  transition: height 0.3s;
  background: rgba(20 20 20 / 0.3);
  cursor: pointer;
  position: relative;
  isolation: isolate;
}

.flex {
  display: flex;
  align-items: center;
}

.progress-bar {
  position: relative;
  width: 50%;
  background-color: var(--clr-primary-300);
  flex: 0;
  flex-basis: 1%;
}

.progress-bar::after {
  content: "";
  position: absolute;
  inset-block: -0.125rem;
  inset-inline-end: -0.125rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--clr-primary-300);
}

.c-vid-controls-volume {
  display: grid;
  place-items: center;
  border-radius: 0.5rem;

  @media screen and (max-width: 500px) {
    display: none;
  }
}

.c-vid-controls-volume:focus-within {
  outline: max(2px, 0.08em) solid whitesmoke;
  outline-offset: max(2px, 0.08em);
}

.c-vid-controls-volume input {
  background-color: #fff;
}

.c-vid-controls-volume input:focus {
  outline: 2px solid transparent;
}

.c-vid-controls-volume-item[type="range"] {
  display: block;
  width: 5rem;
  accent-color: var(--clr-primary-300);
}

.c-vid video::cue {
  visibility: visible;
  color: white;
  background-color: #2f4f4f;
  font-family: "Source Sans Pro", sans-serif;
}

.c-vid video::cue(i) {
  font-style: italic;
  color: rgb(249, 205, 160);
}

.c-vid video.no-captions::cue {
  visibility: hidden;
}

.subtitles[aria-pressed="true"] {
  color: var(--clr-complementary-900);
  background-color: whitesmoke;
  border: 2px solid transparent;
}

.subtitles[aria-pressed="true"]:hover {
  background-color: rgb(255 255 255 / 30%);
  color: whitesmoke;
}
